.blur {
  filter: blur(1px);
}

a.page-link:last-of-type {
  color: #ff5100 !important;
}

@media (max-width: 600px) {
  .page-banner-heading {
    font-size: 46.625px !important;
  }

  .page-banner-subheading {
    font-size: 28.7px !important;
  }
}

.center-text {
  text-align: center;
}

.inheret-link-color a:link {
  color: inherit;
}

#about-image {
  background-color: inherit;
  margin: 30px auto;
}
