.blur {
  filter: blur(1px);
}

a.page-link:last-of-type {
  color: #ff5100 !important;
}

@media (max-width: 600px) {
  .page-banner-heading {
    font-size: 46.625px !important;
  }

  .page-banner-subheading {
    font-size: 28.7px !important;
  }
}

.center-text {
  text-align: center;
}

.inheret-link-color a:link {
  color: inherit;
}

.container-embeds {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.row > .client-card {
  box-sizing: border-box;
  border-radius: 5px;
  width: 400px;
  background-color: rgba(255,255,255,0.09);
  margin: 20px;
  .client-card-text {
    padding: 0 20px;
  }
  h4 {
    margin: 40px 0 15px;
  }
  img {
    width: 100%;
    margin: 0 !important;
  }
  p {
    box-sizing: border-box;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .row > .client-card {
    width: 100%;
    margin: 0 0 45px 0;
  }
}

#about-image {
  background-color: inherit;
  margin: 30px auto;
}
